body {
  font-family: Helvetica, sans-serif;
  background-color: #e5e6e4 !important;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

#google-login {
  color: black;
}

.cart-song-details-name {
  color: black;
  padding-left: 10px;
}
.cart-song-details {
  padding-left: 18px;
  color: rgb(68, 63, 63);
}
